html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

#root,
.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

footer {
  background: rgba(0, 0, 0, 0.637);
  color: white;
  text-align: center;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 7px 20px;
  border-bottom: 1px solid rgba(92, 92, 92, 0.192);
}
.header-side {
  align-content: center;
}
.debug {
  padding: 20px;
}
.flex {
  display: flex;
}
.invisible {
  visibility: hidden;
}
